// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;

//$bh-default: #21de73;
$bh-default: rgb(0, 255, 217);
$bh-default-v2: rgb(7, 7, 62);
$bh-default-v3: rgb(232, 213, 181);
$bh-details:rgb(255, 0, 194);
$bh-details-v2:rgb(0, 196, 230);
$bh-dark: rgb(21, 37, 46);
$bh-side:rgb(242, 242, 242);
$bh-light: rgb(245, 246, 248);
$bh-light-v2: rgb(171, 171, 171);
$bh-light-v3: rgb(121, 121, 121);

$error-field: #E3342F;
//#07073E
//#00C4E6
//#E8D5B5
